.about {
  padding-top: 22px;
  padding-right: 30px;
  padding-bottom: 52px;
  padding-left: 30px;

  color: #000000;
}

.about__title {
  margin: 0;

  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}

.about__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.about__text {
  margin: 0;
}

.about__item {
  position: relative;

  padding-top: 84px;

  font-weight: 700;
  font-size: 17px;
  line-height: 20px;

  &--eco::before {
    content: "";

    position: absolute;
    top: 32px;
    left: 8px;

    width: 32px;
    height: 37px;

    background-image: url("../img/icon-feature-flower.svg");
    background-repeat: no-repeat;
  }

  &--scandinavian::before {
    content: "";

    position: absolute;
    top: 32px;
    left: 0;

    width: 46px;
    height: 27px;

    background-image: url("../img/icon-feature-money.svg");
    background-repeat: no-repeat;
  }

  &--like::before {
    content: "";

    position: absolute;
    top: 36px;
    left: 8px;

    width: 33px;
    height: 27px;

    background-image: url("../img/icon-feature-heart.svg");
    background-repeat: no-repeat;
  }

  &--handmade::before {
    content: "";

    position: absolute;
    top: 32px;
    left: 3px;

    width: 34px;
    height: 34px;

    background-image: url("../img/icon-feature-ball.svg");
    background-repeat: no-repeat;
  }

  &--prodaction::before {
    content: "";

    position: absolute;
    top: 32px;
    left: -6px;

    width: 54px;
    height: 23px;

    background-image: url("../img/icon-feature-rocket.svg");
    background-repeat: no-repeat;
  }

  &--gift::before {
    content: "";

    position: absolute;
    top: 29px;
    left: 3px;

    width: 32px;
    height: 32px;

    background-image: url("../img/icon-feature-gift.svg");
    background-repeat: no-repeat;
  }
}

.about__item:last-child {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .about {
    padding: 45px 50px 55px;
  }


  .about__block {
    display: flex;
  }

  .about__list {
    display: flex;
    flex-wrap: wrap;
    min-height: 465px;
  }

  .about__title {
    margin-bottom: 19px;
    margin-left: -3px;

    font-weight: 700;
    font-size: 43px;
    line-height: 50px;
  }

  .about__item {
    width: 334px;
    padding-top: 85px;

    font-size: 20px;
    line-height: 22px;
  }
}


@media (min-width: 1150px) {
  .about__title {
    padding-left: 175px;

    font-size: 53px;
    line-height: 57px;
  }

  .about__block {
    width: 700px;
    margin: 0 auto;
  }

  .about__list {
    width: 350px;
  }

  .about {
    margin-bottom: 61px;
    padding: 0;
    padding-top: 53px;
  }
}
