.button {
  display: block;
  padding: 16px;

  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  font-family: inherit;
  text-align: center;
  color: #444444;
  text-transform: uppercase;
  text-decoration: none;

  background: #ffffff;
  border: none;
  box-shadow: inset 0 0 0 2px #444444;
}

// .button {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   min-height: 52px;

//   font-weight: 700;
//   font-size: 17px;
//   line-height: 20px;
//   font-family: inherit;
//   text-align: center;
//   color: #444444;
//   text-transform: uppercase;
//   text-decoration: none;

//   background: #ffffff;
//   border: none;
//   box-shadow: inset 0 0 0 2px #444444;
//   cursor: pointer;
// }

.button:focus,
.button:hover {
  color: #ffffff;

  background-color: #444444;
}

.button:active {
  color: #757575;
}
