.catalog {
  margin-top: 30px;
  padding: 0 30px;

  background-color: #ffffff;
}

.catalog__production-wrapper {
  margin-top: 30px;
  padding: 0 30px;
}

.catalog__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog__item {
  margin-bottom: 30px;
}

.catalog-card__link,
.catalog-card__title-link {
  display: block;
}

.catalog__price-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 205px;
  padding: 21px 0 27px 0;

  border-top: 1px solid #ececec;
}

.catalog__description-block {
  display: flex;
  flex-direction: column;
  padding: 0 26px;
  padding-top: 26px;

  border: 1px #ececec solid;
}

@media (min-width: 768px) {
  .catalog__item {
    display: flex;
    margin-bottom: 51px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .catalog__price-block {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 71px;
    padding: 0;
  }

  .catalog {
    margin-top: 0;
    padding: 50px;
    padding-bottom: 0;
  }

  .catalog__description-block {
    width: 280px;
    margin: 0;
    padding-top: 24px;
    padding-bottom: 2px;
    padding-left: 27px;
  }
}

@media (min-width: 1150px) {
  .catalog {
    margin-top: 126px;
    padding: 0;
    padding-bottom: 5px;
  }

  .catalog__description-block {
    width: 258px;
    height: 194px;
    padding-top: 0;
    padding-right: 32px;
    padding-left: 24px;
  }

  .catalog__item {
    flex-direction: column;

    &:not(:last-child) {
      margin-right: 52px;
    }
  }

  .catalog__item:last-child {
    margin-bottom: 51px;
  }

  .catalog__list {
    display: flex;
  }


  .catalog__item:hover {
    box-shadow: 0 7px 10px 0 rgba(0, 0, 0, 0.1);
  }

  .catalog__item:active {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }

  .catalog__production-wrapper:hover {
    box-shadow: 0 7px 10px 0 rgba(0, 0, 0, 0.1);
  }

  .catalog__production-wrapper:active {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }

  .catalog__production-wrapper {
    margin: 0;
    margin-bottom: 103px;
    padding: 0;

    border-top: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
  }
}
