.catalog {
  margin-top: 30px;
  padding: 0 30px;

  background-color: #ffffff;
}


.catalog__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog__item {
  margin-bottom: 30px;
}

.catalog-card__link,
.catalog-card__title-link {
  display: block;
}

.catalog__price-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 205px;
  padding: 21px 0 27px 0;

  border-top: 1px solid #ececec;
}

.catalog__description-block {
  display: flex;
  flex-direction: column;
  padding: 0 26px;
  padding-top: 26px;

  border: 1px #ececec solid;
}

@media (min-width: 768px) {
  .catalog__item {
    display: flex;
    margin-bottom: 51px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .catalog__price-block {
    width: 100%;
  }

  .catalog {
    margin-top: 6px;
    // margin-bottom: 54px;
    padding: 50px;
  }

  .catalog__description-block {
    width: 280px;
    margin: 0;
  }
}

@media (min-width: 1150px) {
  .catalog {
    padding: 0;
  }

  .catalog__description-block {
    width: 258px;
    height: 194px;
    padding: 0 28px;
  }

  .catalog__item {
    flex-direction: column;

    &:not(:last-child) {
      margin-right: 52px;
    }
  }

  .catalog__list {
    display: flex;
  }


  .catalog__item:hover {
    box-shadow: 0 7px 10px 0 rgba(0, 0, 0, 0.1);
  }

  .catalog__item:active {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }
}
