.contact {
  padding: 0 30px;
  color: #000000;
  outline: 1px solid;
}

.contact__title {
  margin: 0;
}

.contact__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.contact__item {
  display: flex;
}

.contact__map {
  margin: 0 -30px;
  height: 457px;
  width: 320px;
  overflow: hidden;
}

.contact__email,
.contact__address {
  margin-right: 10px;
}

.email-link {
  color: #444444;
}
