.contact {
  position: relative;

  color: #000000;
}

.contact__title {
  margin: 0;
  margin-bottom: 26px;

  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}

.contact__list {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.contact__wrapper {
  padding: 0 30px;
  padding-top: 30px;
  padding-bottom: 38px;
}

.contact__item {
  display: flex;
  margin-right: 30px;
  margin-bottom: 29px;

  font-weight: 400;
  font-size: 15px;
  line-height: 30px;

  &--link {
    margin: 0;
  }

  &--address {
    width: 142px;
    margin: 0;
  }
}


// .contacts__map-wrapper {
//   width: 100%;
//   height: 100%;

//   background-image: url("../img/map-mobile@1x.jpg");
//   background-repeat: no-repeat;

//   @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
//     background-image: url("../img/map-mobile@2x.jpg");
//     background-size: 320px auto;
//   }
// }

// .contacts__map-wrapper.no-js {
//   position: relative;
// }

// .contacts__map-wrapper.no-js::after {
//   content: "";

//   position: absolute;
//   top: 165px;
//   left: 115px;

//   display: block;
//   width: 68px;
//   height: 100px;

//   background-image: url("../img/icon-map-pin.svg");
//   background-repeat: no-repeat;
// }


// .contact__map {
//   width: 320px;
//   height: 457px;
//   overflow: hidden;

//   background: url("../img/icon-map-pin.svg") no-repeat 52% 40%, url("../img/map-mobile@1x.jpg") no-repeat 50% 50%;

//   @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
//     background-image: url("../img/map-mobile@2x.jpg");
//     background-size: 320px auto;
//   }
// }

.contacts__map {
  width: 100%;
  min-height: 457px;
}


.contact__write {
  width: 260px;
  margin: 40px auto 40px;
  padding: 15px 0;

  font-size: 18px;
}

.contact__email-link {
  position: relative;

  color: #444444;
}

.contact__email-link::after {
  content: "";

  position: absolute;
  top: 29px;
  right: 0;

  width: 100%;
  height: 1px;

  background-color: #62d1ba;
}

// .contact-wrapper {
//   padding: 0 30px;
// }

@media (min-width: 768px) {
  .contact {
    position: relative;

    display: flex;
    flex-direction: column;
    margin-bottom: 14px;
    padding-top: 80px;

    background: url("../img/bg-zigzag-line.svg") repeat-x 100% 100% white;
    background-repeat: repeat-x;
    background-position: 23px 0;
    background-size: 768px 20px;
  }

  .contact__img {
    display: none;
  }

  .contact__wrapper {
    padding: 0 50px;
  }

  .contact__title {
    position: relative;

    min-height: 81px;
    margin-bottom: 17px;
    margin-left: -3px;

    font-weight: 700;
    font-size: 43px;
    line-height: 50px;

    &::after {
      content: "";

      position: absolute;
      top: -16px;
      right: 2px;

      width: 48px;
      height: 81px;

      background-image: url("../img/icon-flag.svg");
      background-repeat: no-repeat;
    }
  }


  .contact__info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 56px;
  }

  .contact__write {
    width: 226px;
    margin-top: 55px;

    font-size: 17px;
  }

  .contact__item {
    display: flex;
    margin-right: 26px;

    font-weight: 400;
    font-size: 17px;
    line-height: 30px;

    &--address {
      width: 229px;
    }
  }

  .contacts__map {
    width: 768px;

    background: url("../img/icon-map-pin.svg") no-repeat 52% 40%, url("../img/map-tablet@1x.jpg") no-repeat 50% 50%;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/map-tablet@2x.jpg");
      background-size: 768px auto;
    }
  }
}


@media (min-width: 1150px) {
  .contact__info {
    display: table;
    width: 310px;
    margin: 0;
    padding-top: 25px;
    padding-bottom: 40px;
    padding-left: 175px;
  }

  .contact {
    margin-bottom: 0;
    padding-top: 165px;
    padding-bottom: 64px;

    background-repeat: repeat-x;
    background-position: 293px 0;
    background-size: 1043px 24px;
  }

  .contacts__map {
    position: absolute;
    top: 14%;
    left: 50%;

    order: 2;
    width: 525px;
    min-height: 457px;

    background: url("../img/icon-map-pin.svg") no-repeat 50% 40%, url("../img/map-desktop@1x.jpg") no-repeat 50% 50%;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/map-tablet@2x.jpg");
      background-size: 768px auto;
    }
  }

  .contact__write {
    width: 230px;
    margin-top: 39px;
    margin-left: 175px;
  }

  .contact__wrapper {
    padding: 0;
  }

  .contact__title {
    margin: 0;
    padding-left: 169px;

    font-size: 53px;
    line-height: 57px;
  }

  .contact__title::after {
    top: -9px;
    left: 63px;
  }

  .contact__email-link:hover {
    color: #62d1ba;
  }

  .contact__email-link:active {
    opacity: 0.3;
  }
}
