.copyright {
  padding: 0 30px;
  align-items: center;
  color: #000000;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #e5e5e5;
}

.copyright__title {
  margin: 0;
  color: #000000;
  font-weight: 700;
  font-size: 19px;
  line-height: 18px;
}
