.copyright {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 190px;
  min-height: 40px;
  padding-top: 13px;
  padding-bottom: 21px;

  color: #000000;

  border-top: 1px solid #e5e5e5;
}

.copyright__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 185px;
  margin: 0;
  margin-left: 3px;
  padding-top: 7px;

  font-weight: 700;
  font-size: 19px;
  line-height: 18px;
  color: #000000;
}

.copyright__link {
  margin-top: 4px;
  margin-right: 5px;
}

.copyright__logo {
  fill: #63d1bb;
}

@media (min-width: 768px) {
  .copyright {
    width: 184px;
    margin-top: 0;
    padding: 0;

    border: 0;
  }

  .copyright__link {
    margin: 0;
    margin-top: 8px;
  }

  .copyright__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 187px;
    margin: 0;

    &:hover,
    &:focus {
      color: #666666;

      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  .copyright::before {
    display: none;
  }
}
