.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 190px;
  padding-bottom: 22px;

  color: #000000;

  border-top: 1px solid #e5e5e5;
}

.copyright__title {
  margin: 0;
  margin-left: 3px;

  font-weight: 700;
  font-size: 19px;
  line-height: 18px;
  color: #000000;
}

.copyright__link {
  margin-top: 4px;
  margin-right: 5px;
}

@media (min-width: 768px) {
  .copyright {
    width: 184px;
    margin-top: 0;

    border: 0;
  }
}
