.form-field__text,
.form-field__user-email,
.form-field__user-phone {
  width: 100%;
  height: 38px;
  // margin-bottom: 22px;
  // padding-bottom: 7px;

  border: none;
  border-bottom: 2px solid black;
}

.form-field__input-wrap {
  position: relative;
}

.form-field__label {
  display: flex;
  align-items: center;
  width: 260px;
  margin-bottom: 22px;

  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: #000000;

  &--check {
    margin-bottom: 22px;
  }

  &--radio {
    margin-bottom: 5px;
  }
}


.form-field__input--check + label::before {
  content: "";

  flex-shrink: 0;
  width: 36px;
  height: 35px;
  margin-right: 22px;

  border: 2px solid;
}

.form-field__input--check:checked + label::after {
  content: "";

  position: absolute;
  top: 5px;
  left: 4px;

  width: 27px;
  height: 23px;

  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
}


.form-field__input--radio + .form-field__label::before {
  content: "";

  left: 54px;

  flex-shrink: 0;
  width: 36px;
  height: 36px;
  margin-right: 20px;

  border: 2px solid;
  border-radius: 50%;
}


.form-field__input--radio:checked + label::after {
  content: "";

  position: absolute;
  top: 14px;
  left: 14px;

  width: 16px;
  height: 16px;

  background-color: #62d1ba;
  border-radius: 50%;
}


.form-field {
  position: relative;

  display: flex;
  flex-direction: column-reverse;
  margin: 0;
  // margin-bottom: 26px;

  &--check {
    position: relative;
  }
}

.form-field__button {
  width: 260px;
  margin: 0 auto;
  margin-top: 31px;
}

.form-field__user-wishes {
  box-sizing: border-box;
  width: 260px;
  padding: 10px;

  border: none;
  box-shadow: inset 0 0 0 2px #444444;

  resize: none;
}

.form-field__required-text {
  margin: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}

.form-field__text::-webkit-input-placeholder,
.form-field__user-phone::-webkit-input-placeholder,
.form-field__user-email::-webkit-input-placeholder,
.form-field__user-wishes::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  font-family: inherit;
  color: #c7c7c7;
}


.form-field__phone-image,
.form-field__email-image {
  position: absolute;
  top: 2px;
  right: 10px;
}

@media (min-width: 768px) {
  .form-field__required {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    padding: 0 50px;
  }

  .form-field__required-text {
    order: 2;
    margin: 0;
  }

  .form-field__user-phone,
  .form-field__user-email {
    background-color: #f1f1f1;
  }

  .form-field__user-wishes {
    width: 500px;
    height: 140px;
  }

  .form-field--user-block {
    flex-direction: row-reverse;
    /* width: 498px; */
    align-items: baseline;
  }

  .form-field__label--text {
    width: 76px;
  }

  .form-field__label--text-surname,
  .form-field__label--text-patronymic {
    width: 145px;
  }

  .form-field__input--radio:checked + label::after {
    top: 17px;
    left: 17px;

    width: 22px;
    height: 22px;
  }

  .form-field__input--radio + .form-field__label::before {
    width: 52px;
    height: 52px;
  }

  .form-field__label {
    font-weight: 700;
    font-size: 19px;
    line-height: 18px;
  }

  .form-field__input--check + label::before {
    width: 50px;
    height: 49px;
  }

  .form-field__text::-webkit-input-placeholder,
  .form-field__user-phone::-webkit-input-placeholder,
  .form-field__user-email::-webkit-input-placeholder,
  .form-field__user-wishes::-webkit-input-placeholder {
    font-size: 19px;
  }

  .form-field__button {
    width: 230px;
    margin: 0;

    font-size: 17px;
    line-height: 16px;
  }
}
