.form-field__text,
.form-field__user-email,
.form-field__user-phone {
  flex-grow: 1;
  height: 53px;

  border: none;
  border-bottom: 2px solid black;
  outline: 0;
}


.form-field__text::-webkit-input-placeholder,
.form-field__user-phone::-webkit-input-placeholder,
.form-field__user-email::-webkit-input-placeholder,
.form-field__user-wishes::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: #c7c7c7;

  opacity: 1;
}

.form-field__text::placeholder,
.form-field__user-phone::placeholder,
.form-field__user-email::placeholder,
.form-field__user-wishes::placeholder {
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: #c7c7c7;

  opacity: 1;
}


.form-field__text:-ms-input-placeholder,
.form-field__user-phone:-ms-input-placeholder,
.form-field__user-email:-ms-input-placeholder,
.form-field__user-wishes:-ms-input-placeholder {
  /* IE 10+ */
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: #c7c7c7;
}


.form-field__input-wrap {
  position: relative;

  display: flex;
  width: 100%;
}

.form-field__phone-image,
.form-field__email-image {
  fill: #c1c1c1;
}


.form-field__label {
  display: block;
  width: 200px;
  height: 37px;
  margin-bottom: 13px;
  padding-top: 10px;
  padding-left: 62px;

  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: #000000;


  &--text-surname,
  &--text,
  &--text-patronymic,
  &--contact {
    width: 260px;
    height: auto;
    margin-bottom: 0;
    padding-top: 3px;
    padding-left: 0;
  }
}

.form-field__input--check + label::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  flex-shrink: 0;
  width: 36px;
  height: 35px;

  border: 2px solid;
}

.form-field__input--check:checked + label::after {
  content: "";

  position: absolute;
  top: 5px;
  left: 4px;

  width: 27px;
  height: 23px;

  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
}


.form-field__input--radio + .form-field__label::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  flex-shrink: 0;
  width: 36px;
  height: 36px;

  border: 2px solid;
  border-radius: 50%;
}


.form-field__input--radio:checked + label::after {
  content: "";

  position: absolute;
  top: 13px;
  left: 12px;

  width: 16px;
  height: 15px;

  background-color: #62d1ba;
  border-radius: 50%;
}


.form-field {
  position: relative;

  display: flex;
  flex-direction: column-reverse;
  margin: 0;


  &--check {
    position: relative;
  }

  &--user-block {
    height: 75px;
    margin-bottom: 15px;
  }
}

.form-field__button {
  width: 260px;
  margin: 0 auto;
}

.form-field__user-wishes {
  height: 112px;
  padding: 15px;

  border: none;
  outline: 0;
  box-shadow: inset 0 0 0 2px #444444;

  resize: none;
}

.form-field__required--text {
  order: 1;
  margin: 0;
  padding-bottom: 30px;

  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}


.form-field__email-image {
  position: absolute;
  top: 15px;
  right: 4px;
}

.form-field__phone-image {
  position: absolute;
  top: 14px;
  right: 9px;
}


@media (min-width: 768px) {
  .form-field {
    &--contact {
      width: 100%;
    }
  }

  .form-field__required {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    padding-bottom: 50px;
  }

  .form-field__required--text {
    padding: 0;

    font-size: 17px;
    line-height: 30px;
  }

  .form-field__user-phone,
  .form-field__user-email {
    // width: 487px;
    margin-top: 5px;
    padding-bottom: 0;
    padding-left: 17px;

    background-color: #f1f1f1;
  }

  .form-field__user-wishes {
    box-sizing: border-box;
    width: 500px;
    min-height: 140px;
  }

  .form-field--user-block {
    flex-direction: row-reverse;
    align-items: baseline;
    margin-bottom: 0;
  }

  .form-field__input--radio:checked + label::after {
    top: 26px;
    left: 15px;

    width: 22px;
    height: 22px;
  }

  .form-field__input--check:checked + label::after {
    top: 13px;
    left: 10px;

    width: 33px;
    height: 24px;
  }

  .form-field__text {
    padding-left: 17px;
  }


  .form-field__input--check + label::before {
    position: relative;

    display: flex;
    width: 50px;
    height: 49px;
  }


  .form-field__input--radio + .form-field__label::before {
    position: relative;

    flex-shrink: 0;
    width: 48px;
    height: 48px;
  }

  .form-field__label {
    display: flex;
    width: 260px;
    // padding: 0;

    font-weight: 700;
    font-size: 19px;
    line-height: 18px;

    &--check {
      align-items: center;
      width: 260px;
      height: 50px;
      margin-bottom: 24px;
      padding-top: 0;
      padding-left: 0;
    }

    &--radio {
      // width: 349px;
      width: auto;
      margin-bottom: 28px;
      padding-left: 0;
    }

    &--text {
      width: auto;
      margin-right: 26px;
    }

    &--text-surname,
    &--text-patronymic {
      width: auto;
      margin-right: 26px;
    }
  }

  .form-field__check {
    margin-left: 25px;
  }

  .form-field__type-product {
    margin-top: 17px;
    margin-left: 29px;
  }

  .form-field__phone-image {
    top: 21px;
    right: 26px;
  }

  .form-field__email-image {
    top: 19px;
    right: 21px;
  }

  .form-block__legend::after {
    display: none;
  }


  .form-field__text::-webkit-input-placeholder,
  .form-field__user-phone::-webkit-input-placeholder,
  .form-field__user-email::-webkit-input-placeholder,
  .form-field__user-wishes::-webkit-input-placeholder {
    font-weight: 400;
    font-size: 19px;
    font-family: "Open Sans", "Arial", sans-serif;
    color: #c7c7c7;

    opacity: 1;
  }

  .form-field__text::placeholder,
  .form-field__user-phone::placeholder,
  .form-field__user-email::placeholder,
  .form-field__user-wishes::placeholder {
    font-weight: 400;
    font-size: 19px;
    line-height: 18px;
    font-family: "Open Sans", "Arial", sans-serif;
    color: #c7c7c7;

    opacity: 1;
  }


  .form-field__text:-ms-input-placeholder,
  .form-field__user-phone:-ms-input-placeholder,
  .form-field__user-email:-ms-input-placeholder,
  .form-field__user-wishes:-ms-input-placeholder {
    /* IE 10+ */
    font-weight: 400;
    font-size: 19px;
    line-height: 18px;
    font-family: "Open Sans", "Arial", sans-serif;
    color: #c7c7c7;

    opacity: 1;
  }


  .form-field__button {
    width: 230px;
    margin: 0;

    font-size: 17px;
    line-height: 16px;
  }
}

@media (min-width: 1150px) {
  .form-field__text:hover,
  .form-field__user-email:hover,
  .form-field__user-phone:hover,
  .form-field__text:active,
  .form-field__user-email:active,
  .form-field__user-phone:active,
  .form-field__text:focus,
  .form-field__user-email:focus,
  .form-field__user-phone:focus {
    border-color: #62d1ba;
  }

  .form-field__check {
    margin-left: 30px;
  }

  .form-field__label--radio {
    padding-top: 15px;
  }

  .form-field__type-product {
    margin-top: 17px;
    margin-left: 29px;
  }

  .form-field__input--check:focus + .form-field__label::before,
  .form-field__input--radio:focus + .form-field__label::before {
    border-color: #62d1ba;
  }

  .form-block--color .form-field__label:hover::before,
  .form-block--color .form-field__label:focus::before {
    border-color: #62d1ba;
  }

  .form-block--color .form-field__label:active::before,
  .form-block--type .form-field__label:active::before {
    border-color: #c7c7c7;
  }


  .form-block--color:focus + .form-field__label::before,
  .form-block--type .form-field__label:hover::before,
  .form-block--type:focus + .form-field__label::before {
    border-color: #62d1ba;
  }


  .form-block--type .form-field__label:active::before {
    border-color: #c7c7c7;
  }


  .form-field__input--check:checked + label::after {
    top: 23%;

    transform: translateX(10%);
  }

  .form-field__input--radio:checked + label::after {
    top: 31px;
    left: 16px;
  }

  .form-field__input--check + label::before {
    top: 3px;
    left: 4px;
  }

  .form-field--contact {
    width: 700px;
  }

  .form-field__text {
    box-sizing: border-box;
    padding: 16px;
    padding-left: 20px;

    &--name {
      flex-grow: 1;
      min-width: 455px;
      margin-bottom: 40px;
    }
  }

  .form-field__user-email,
  .form-field__user-phone {
    box-sizing: border-box;
    width: 699px;
    // padding-left: 12px;
    padding: 16px 16px 16px 20px;
  }


  .form-field__email-image {
    top: 17px;
    right: 5px;
  }

  .form-field__phone-image {
    top: 17px;
    right: 6px;
  }

  .form-field__email-image :hover,
  .form-field__phone-image:hover {
    fill: #62d1ba;
  }


  .form-field__input-wrap:hover .form-field__phone-image,
  .form-field__input-wrap:hover .form-field__email-image,
  .form-field__input-wrap:focus .form-field__phone-image,
  .form-field__input-wrap:focus .form-field__email-image {
    fill: #62d1ba;
  }

  .form-field--user-block {
    width: 700px;
  }


  .form-field__user-wishes:hover,
  .form-field__user-wishes:active,
  .form-field__user-wishes:focus {
    box-shadow: inset 0 0 0 2px #76a199;
  }


  .form-field__label--text {
    width: auto;
    margin-right: 26px;
  }

  .form-field__label--text-surname,
  .form-field__label--text-patronymic {
    width: auto;
    margin-right: 26px;
  }

  .form-field__user-wishes {
    width: 700px;
  }

  .form-field__required {
    padding-top: 0;
    padding-right: 219px;
    padding-bottom: 50px;
    padding-left: 224px;

    &--text {
      width: 306px;
      padding-top: 0;
      padding-right: 0;
      padding-bottom: 0;
      padding-left: 0;
    }
  }
}
