.form-field__text {
  width: 100%;
  height: 40px;

  border: none;
  border-bottom: 2px solid black;
}

.form-field__user-email,
.form-field__user-phone {
  width: 100%;
  height: 53px;

  border: none;
  border-bottom: 2px solid black;
}

.form-field__input-wrap {
  position: relative;
}


.form-field__label {
  display: block;
  width: 200px;
  height: 37px;
  margin-bottom: 13px;
  padding-top: 10px;
  padding-left: 62px;

  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: #000000;


  &--text-surname,
  &--text,
  &--text-patronymic,
  &--contact {
    margin-bottom: 27px;
    padding-left: 0;
  }
}

// .form-field__label--check:last-child {
//   margin-bottom: 0;
// }

.form-field__input--check + label::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  flex-shrink: 0;
  width: 36px;
  height: 34px;

  border: 2px solid;
}

.form-field__input--check:checked + label::after {
  content: "";

  position: absolute;
  top: 5px;
  left: 4px;

  width: 27px;
  height: 23px;

  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
}


.form-field__input--radio + .form-field__label::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  flex-shrink: 0;
  width: 36px;
  height: 36px;

  border: 2px solid;
  border-radius: 50%;
}


.form-field__input--radio:checked + label::after {
  content: "";

  position: absolute;
  top: 13px;
  left: 12px;

  width: 16px;
  height: 15px;

  background-color: #62d1ba;
  border-radius: 50%;
}


.form-field {
  position: relative;

  display: flex;
  flex-direction: column-reverse;
  margin: 0;


  &--check {
    position: relative;
  }

  &--user-block {
    height: 75px;
    margin-bottom: 20px;
  }
}

.form-field__button {
  width: 260px;
  margin: 0 auto;
  margin-top: 31px;
}

.form-field__user-wishes {
  /* -webkit-box-sizing: border-box; */
  /* box-sizing: border-box; */
  /* width: 260px; */
  height: 112px;
  padding: 15px;
  /* padding: 10px; */
  /* flex-grow: 1; */
  /* height: 108px; */

  border: none;
  box-shadow: inset 0 0 0 2px #444444;

  resize: none;
}

.form-field__required-text {
  margin: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}

.form-field__text::-webkit-input-placeholder,
.form-field__user-phone::-webkit-input-placeholder,
.form-field__user-email::-webkit-input-placeholder,
.form-field__user-wishes::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  font-family: inherit;
  color: #c7c7c7;
}

.form-field__email-image {
  position: absolute;
  top: 19px;
  right: 6px;
}

.form-field__phone-image {
  position: absolute;
  top: 19px;
  right: 11px;
}

@media (min-width: 768px) {
  .form-field__required {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    padding: 0 50px;
  }

  .form-field__required-text {
    order: 2;
    margin: 0;
  }

  .form-field__user-phone,
  .form-field__user-email {
    background-color: #f1f1f1;
  }

  .form-field__user-wishes {
    width: 500px;
    height: 140px;
  }

  .form-field--user-block {
    flex-direction: row-reverse;
    /* width: 498px; */
    align-items: baseline;
  }

  .form-field__label--text {
    width: 76px;
  }

  .form-field__label--text-surname,
  .form-field__label--text-patronymic {
    width: 145px;
  }

  .form-field__input--radio:checked + label::after {
    top: 17px;
    left: 17px;

    width: 22px;
    height: 22px;
  }

  .form-field__input--radio + .form-field__label::before {
    width: 52px;
    height: 52px;
  }

  .form-field__label {
    font-weight: 700;
    font-size: 19px;
    line-height: 18px;
  }

  .form-field__input--check + label::before {
    width: 50px;
    height: 49px;
  }

  .form-field__text::-webkit-input-placeholder,
  .form-field__user-phone::-webkit-input-placeholder,
  .form-field__user-email::-webkit-input-placeholder,
  .form-field__user-wishes::-webkit-input-placeholder {
    font-size: 19px;
  }

  .form-field__button {
    width: 230px;
    margin: 0;

    font-size: 17px;
    line-height: 16px;
  }
}


@media (min-width: 768px) {
  .form-field__required-text {
    font-size: 17px;
    line-height: 30px;
  }

  .form-field__user-wishes {
    width: 700px;
  }

  .form-field__required {
    width: 700px;
    margin: auto;
    padding: 0;
  }
}


@media (min-width: 1150px) {
  .form-field__text:hover,
  .form-field__user-email:hover,
  .form-field__user-phone:hover {
    border-color: #62d1ba;
  }
}
