
.form-block {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
  padding: 0;

  border: none;
  // border-top: 1px solid #62d1ba;
  &--color {
    margin-bottom: 10px;
  }

  &--user {
    margin-bottom: 9px;
  }

  &--wishes {
    margin-bottom: 17px;
  }
}

.form-block__legend {
  position: relative;
  // padding-bottom: 26px;

  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: #62d1ba;
  text-transform: uppercase;

  &--type {
    padding-bottom: 34px;
  }

  &--color {
    padding-bottom: 26px;
  }

  &--name {
    margin-bottom: 28px;
  }

  &--wishes {
    margin-bottom: 29px;
  }
}

.form-block__legend::after {
  content: "";

  position: absolute;
  top: 7px;
  left: 59px;

  width: 197px;
  height: 2px;

  background-color: #62d1ba;
}

@media (min-width: 768px) {
  .form-block {
    border: none;
  }

  .form-block__wrapper {
    display: flex;
    align-items: baseline;
    padding: 0 50px;
  }

  .form-block__legend {
    width: 167px;

    &--type,
    &--name {
      width: 167px;
    }
  }

  .form-block__container--checkbox {
    display: flex;
  }


  .form-block__container--name {
    width: 500px;
  }
}

@media (min-width: 1150px) {
  .form-block__container--checkbox {
    display: flex;
    flex-direction: column;
  }

  .form-block__container--checkbox-right,
  .form-block__container--checkbox-left {
    display: flex;
  }
}
