.main-nav {
  position: relative;

  width: 320px;
  margin: 0;
  padding: 0;

  list-style: none;
}

// .main-nav__icon-basket {
//   position: absolute;
//   top: 32px;
//   left: 30px;
// }

// .main-nav__icon-search {
//   position: absolute;
//   top: 32px;
//   left: 33px;
// }

.main-nav__list {
  // display: none;
  display: block;
  flex-direction: column;
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-nav__menu-offer {
  display: none;
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-nav__user-navigation {
  // display: none;
  display: block;
  flex-direction: column;
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-nav__link {
  display: block;
  padding: 27px;

  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  text-decoration: none;

  &--search {
    display: block;
    padding-top: 21px;
    padding-right: 58px;
    padding-bottom: 26px;
    padding-left: 1px;
  }

  &--basket {
    display: block;
    padding-top: 21px;
    padding-right: 12px;
    padding-bottom: 26px;
    padding-left: 1px;
  }

  &--border {
    display: block;
    padding-top: 26px;
    padding-bottom: 28px;
    padding-left: 10px;
  }
}

.main-nav__item {
  position: relative;

  display: flex;
  justify-content: center;
  margin: 0 auto;
  // margin: 0;
  padding: 0;

  border-top: 1px solid #ececec;
  // &--search,
  // &--basket {
  //   border-left: 1px solid #ececec;
  // }
}


.main-nav__delivery {
  display: none;
  margin: 0;
  padding: 0;
}

.main-nav__icon-search {
  width: 17.6px;
  height: 24.6px;
  margin-right: 29px;
  margin-left: -29px;
}

.main-nav__icon-basket {
  width: 17.6px;
  height: 24.6px;
  margin-right: 26px;
  margin-left: -26px;
}

@media (min-width: 768px) {
  .main-nav {
    display: flex;
    flex-wrap: wrap;
    width: 670px;
    margin: auto;
  }

  .main-nav__list,
  .main-nav__user-navigation {
    display: flex;
    flex-direction: row;
  }

  .main-nav__search {
    font-size: 0;
  }

  .main-nav__list {
    z-index: 10;

    order: 2;
  }

  .main-nav__basket {
    font-size: 17px;
  }

  .main-nav__link {
    font-size: 15px;

    border: none;

    &--border {
      border: none;
    }

    &--search {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 84px;
      height: 89px;
      padding: 0;

      border-right: 1px solid #ececec;
      border-left: 1px solid #ececec;
    }

    &--basket {
      display: flex;
      align-items: center;
      padding: 0;
    }
  }

  .main-nav__delivery {
    z-index: 10;

    display: block;
    order: 3;
    margin-top: 24px;
    margin-left: auto;

    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
  }

  .main-nav__user-navigation {
    width: 350px;
  }

  .main-nav__icon-basket {
    width: 20px;
    height: 18px;
    margin-right: 31px;
    margin-left: 30px;
  }

  .main-nav__icon-search {
    margin: 0 auto;
  }

  .main-nav__item {
    margin: 0;

    border: none;
  }
}


@media (min-width: 1150px) {
  .main-nav {
    justify-content: space-between;
    width: 1050px;
  }

  .main-nav__link {
    &:hover {
      color: #666666;

      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }


  .main-nav__link--search:hover .main-nav__icon-search {
    fill: #9ee2d5;
  }


  .main-nav__menu-offer {
    z-index: 10;

    display: flex;
    flex-wrap: wrap;
    width: 373px;
  }

  .main-nav__list {
    flex-wrap: wrap;
    order: -1;
    width: max-content;

    // &:nth-child(1) {
    //   margin-right: 34px;
    // }
  }


  .main-nav__list li:nth-child(1) {
    margin-right: 34px;
  }

  .main-nav__link--border {
    padding: 0;
    padding-top: 30px;
    padding-right: 36px;
  }

  // .main-nav__item a:nth-child(2) {
  //   padding: 0;
  //   /* padding-right: 36px; */
  //   padding-top: 30px;
  // }

  .main-nav__list .main-nav__link {
    font-size: 17px;
    line-height: 30px;
  }

  .main-nav__link--border {
    border-right: 1px solid #ececec;
  }

  .main-nav__menu-offer li:nth-child(1) {
    margin-right: 36px;
  }

  .main-nav__menu-offer .main-nav__link {
    padding-top: 17px;
    padding-left: 0;
  }
}
