.main-nav {
  position: relative;

  width: 320px;
  margin: 0;
  padding: 0;

  list-style: none;
}


.main-nav__list {
  // display: none;
  display: block;
  flex-direction: column;
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-nav__menu-offer {
  display: none;
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-nav__user-navigation {
  // display: none;
  display: block;
  flex-direction: column;
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-nav__link {
  position: relative;

  display: block;
  padding-top: 26px;
  padding-bottom: 28px;
  padding-left: 75px;

  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}

.main-nav__item {
  position: relative;

  margin: 0 auto;
  padding: 0;

  border-top: 1px solid #ececec;
}


.main-nav__delivery {
  display: none;
  margin: 0;
  padding: 0;
}

.main-nav__icon-search {
  position: absolute;
  top: 32px;
  left: 32px;

  fill: #d3d2d2;
}

.main-nav__icon-basket {
  position: absolute;
  top: 30px;
  left: 31px;

  fill: #d3d2d2;
}


@media (min-width: 768px) {
  .main-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 670px;
    margin: auto;
  }

  .main-nav__list,
  .main-nav__user-navigation {
    display: flex;
    flex-direction: row;
  }

  .main-nav__search {
    font-size: 0;
  }

  .main-nav__list {
    z-index: 10;

    order: 2;
  }

  .main-nav__basket {
    font-size: 17px;
  }

  .main-nav__link {
    padding: 16px 37px 0 0;

    font-size: 15px;

    border: none;

    &--border {
      border: none;
    }

    &--search {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 84px;
      height: 89px;
      padding: 0;

      border-right: 1px solid #ececec;
      border-left: 1px solid #ececec;
    }

    &--basket {
      display: flex;
      align-items: center;
      padding: 0;
    }
  }

  .main-nav__delivery {
    z-index: 10;

    display: block;
    order: 3;
    margin-top: 18px;

    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
  }

  .main-nav__user-navigation {
    justify-content: space-between;
    align-items: center;
    width: 350px;
  }

  .main-nav__icon-basket {
    position: static;

    width: 20px;
    margin-right: 31px;
  }

  .main-nav__icon-search {
    position: static;

    margin: 0 auto;
  }

  .main-nav__item {
    display: block;
    margin: 0;

    border: none;
  }
}


@media (min-width: 1150px) {
  .main-nav {
    justify-content: space-between;
    width: 1050px;
  }

  .main-nav__link {
    &:hover {
      color: #666666;

      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }


  .main-nav__link--search:hover .main-nav__icon-search,
  .main-nav__link--basket:hover .main-nav__icon-basket {
    fill: #63d1bb;
  }


  .main-nav__link--search:active .main-nav__icon-search path,
  .main-nav__link--search:focus .main-nav__icon-search path,
  .main-nav__link--basket:active .main-nav__icon-basket path,
  .main-nav__link--basket:focus .main-nav__icon-basket path {
    fill: #d0f1ea;
  }

  .main-nav__menu-offer {
    z-index: 10;

    display: flex;
    flex-wrap: wrap;
    width: 373px;
  }

  .main-nav__list {
    flex-wrap: wrap;
    justify-content: space-between;
    order: -1;
    width: 374px;
  }


  .main-nav__list li:nth-child(1) {
    display: flex;
    align-items: center;
    margin-right: 34px;

    border-right: 1px solid #ececec;
  }

  .main-nav__list li:nth-child(2) {
    display: flex;
    align-items: center;
  }

  .main-nav__link--border {
    margin-right: 34px;
    padding: 0;
    // padding-top: 30px;
    // padding-right: 36px;
  }


  .main-nav__list .main-nav__link {
    padding: 0;
    // padding: 30px 37px 0 0;

    font-size: 17px;
    line-height: 30px;
  }


  .main-nav__menu-offer li:nth-child(1) {
    margin-right: 24px;
  }

  .main-nav__menu-offer .main-nav__link {
    padding-top: 17px;
    padding-left: 0;
  }

  .main-nav__delivery {
    margin-top: 17px;
  }
}


//fkjgsdkglkg
