.modal-window {
  position: fixed;
  top: 0;
  z-index: 20;

  display: block;
  width: 100%;
  height: 100%;

  background-color: rgba(255, 255, 255, 0.8);
}

.modal-window--close {
  display: none;
}

.modal-window__form {
  position: absolute;
  top: 50%;
  right: 50%;

  display: flex;
  flex-direction: column;
  width: 320px;
  height: 336px;

  background-color: #ffffff;
  border-top: 1px solid #c7c7c7;
  border-bottom: 1px solid #c7c7c7;
  box-shadow: 0 5px 10px 0 #c7c7c7;
  transform: translateX(50%) translateY(-50%);
}


.modal-window__title {
  width: 150px;
  margin: 0 auto;
  padding-top: 31px;

  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}


.modal-window__radio {
  display: none;
}

.modal-window__description {
  margin: 0;
  padding-top: 11px;
  padding-bottom: 24px;
  padding-left: 93px;

  font-size: 15px;
  line-height: 30px;
  color: #444444;
}


.modal-window__label,
.modal-window__size-block {
  display: flex;
}

.modal-window__size-block {
  justify-content: space-between;
  width: 260px;
  margin: 0 auto;
}

.modal-window__label {
  justify-content: center;
  align-items: center;
  width: 78px;
  height: 48px;

  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: #444444;

  border: 2px solid #ececec;
}

.modal-window__radio:checked + .modal-window__label {
  border-color: #63d1bb;
}

.modal-window__label:hover {
  border: 2px solid #c7c7c7;
}

.modal-window__button {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 260px;
  height: 52px;

  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #63d1bb;
  border: 0;
}

.modal-window__button-wrapper {
  display: flex;
  align-self: center;
}


@media (min-width: 768px) {
  .modal-window__form {
    width: 564px;
    height: 334px;

    border: 1px solid #c7c7c7;
  }

  .modal-window__label {
    width: 108px;
  }

  .modal-window__size-block {
    width: 350px;
  }

  .modal-window__button {
    width: 350px;
    margin: 31px auto 0;
  }

  .modal-window__title {
    width: 355px;

    font-size: 30px;
    line-height: 57px;
  }

  .modal-window__description {
    padding-top: 15px;
    padding-bottom: 21px;
    padding-left: 207px;

    font-size: 17px;
  }
}
