.page-footer,
.page-footer__wrapper {
  display: flex;
  width: 100%;

  color: #000000;

  background-color: #f1f1f1;
}

.page-footer__social {
  padding-top: 22px;
  padding-bottom: 26px;
}

.page-footer__logo {
  display: none;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  margin: 0 auto;
  padding: 0 30px;
}

@media (min-width: 768px) {
  .page-footer__logo {
    display: block;
    flex-shrink: 0;
  }

  .page-footer__social {
    padding-top: 0;
    padding-bottom: 0;
  }

  .page-footer__logo[href]:hover .page-footer__logo {
    fill: #46c1ae;
  }

  .page-footer__logo[href]:active .page-footer__logo {
    opacity: 0.3;
  }


  .page-footer__copyright:hover .copyright__logo {
    fill: #46c1ae;
  }

  .page-footer__copyright:active .copyright__logo {
    fill: #bde3dd;
  }

  .page-footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
    width: 668px;
    min-height: 145px;
    margin: auto;
    padding: 0 50px;
  }
}

@media (min-width: 1150px) {
  .page-footer__wrapper {
    width: 1150px;
    padding: 0 50px;
  }

  .page-footer__social {
    padding-top: 0;
    padding-bottom: 0;
  }

  // .page-footer__logo {
  //   width: 102px;
  //   margin-right: 90px;
  // }
}
