.page-main__wrapper {
  display: flex;
  flex-direction: column;
  width: 320px;
  justify-content: space-between;
  height: 400px;
  background-color: #fbfbfb;
  border-top: 1px solid #ececec;
  background-image: url(../img/hero-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-size: 320px 373px;
  outline: 1px solid;
}

.page-main__title {
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  width: 241px;
  text-align: center;
}
