.page-header {
  position: relative;
  width: 320px;
  font-family: inherit;
  background-color: white;
}

.page-header__logo {
  display: flex;
  align-items: center;
  min-height: 79px;
  margin: auto;
}


.hamburger {
  padding: 0;
  width: 19px;
  height: 14px;
  background-image: url("../img/icon-menu-open.svg");
  background-repeat: no-repeat;
  background-color: #ffffff;
  background-size: 17px;
  border: none;
  cursor: pointer;
}


.page-header__wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 30px;
  outline: 1px solid;
}
