.page-header {
  position: relative;

  width: 320px;

  font-family: inherit;

  background-color: white;
}

.page-header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 320px;
  margin: auto;
  padding-top: 22px;
  padding-bottom: 22px;
}


// остановилась тут
.page-header__button-humburger {
  position: absolute;
  top: 28px;
  right: 25px;

  width: 26px;
  height: 24px;

  // background: url("../img/icon-menu-open.svg") no-repeat #ffffff;
  // border: none;
}


.main-nav--closed .page-header__button-humburger {
  position: absolute;
  top: 31px;
  right: 31px;

  width: 21px;
  height: 20px;

  background: url("../img/icon-menu-open.svg") no-repeat #ffffff;
  border: none;
  cursor: pointer;
}

.main-nav--opened .page-header__button-humburger--close {
  position: absolute;
  top: 27px;
  right: 27px;

  width: 26px;
  height: 24px;

  background: url("../img/icon-menu-close.svg") no-repeat #ffffff;
}


.main-nav--nojs .main-nav__item {
  display: block;
}


@media (max-width: 767px) {
  .main-nav--closed .main-nav__item {
    display: none;
  }
}

@media (min-width: 768px) {
  .page-header__logo {
    justify-content: flex-start;
    padding-top: 27px;
    padding-bottom: 27px;
  }

  .page-header__button-humburger {
    display: none;
  }

  .page-header {
    width: 768px;
  }
}

@media (min-width: 1150px) {
  .page-header__logo-img {
    padding-top: 0;
    padding-right: 23px;
    padding-bottom: 0;
  }

  .page-header__logo {
    justify-content: center;
    width: max-content;
    min-height: 70px;
    margin: 0;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .page-header {
    width: 1150px;
  }
}
