.page-header {
  position: relative;

  margin: 0 auto;

  font-family: inherit;

  background-color: white;
}

.page-header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 123px;
  margin: auto;
  padding-top: 22px;
  padding-bottom: 22px;
}

.page-header__button-humburger {
  position: absolute;
  top: 28px;
  right: 25px;

  width: 26px;
  height: 24px;
}


@media (min-width: 768px) {
  .page-header__logo {
    justify-content: flex-start;
    width: 123px;
    margin: 0;
    padding-top: 22px;
    padding-bottom: 22px;
  }

  .page-header__button-humburger {
    display: none;
  }
}

@media (min-width: 1150px) {
  .page-header__logo-img {
    padding-top: 0;
    padding-right: 28px;
    padding-bottom: 0;
  }

  .page-header__logo {
    justify-content: center;
    width: max-content;
    min-height: 70px;
    margin: 0;
    padding-top: 8px;
    padding-bottom: 8px;
  }


  .page-header__logo[href]:hover {
    opacity: 0.6;
  }

  .page-header__logo[href]:active {
    opacity: 0.3;
  }
}
