.production {
  padding: 0 30px;

  background-color: #ffffff;
}

.production__title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;

  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
}

.production__title::before {
  content: "";

  top: 30px;
  left: 30px;

  width: 40px;
  height: 30px;

  background-image: url("../img/icon-video.svg");
  background-repeat: no-repeat;
}

.production__description {
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

@media (min-width: 768px) {
  .production {
    display: flex;
    flex-direction: column;
    padding: 0 50px;

    background-color: #ffffff;
  }

  .production__title {
    justify-content: flex-start;
    order: 2;
    margin-bottom: 27px;
    padding-left: 44px;

    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
  }

  .production__video {
    order: 1;
    margin-top: 0;
    margin-bottom: 35px;
  }

  .production__video-img {
    width: 668px;
    height: 457px;
    margin: 0 auto;
  }

  .production__description {
    order: 3;
    width: 586px;
    margin: 0 auto;

    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
  }

  .production__button {
    order: 4;
    width: 553px;
    margin: 35px auto 107px;
  }

  .production__title-text {
    margin-left: 25px;
  }
}
