.production {
  display: flex;
  flex-direction: column;
  padding-bottom: 60px;

  background-color: #ffffff;
}

.production__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  order: 1;
  margin: 0;
  padding: 24px 19px 24px 34px;

  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #000000;

  border: 1px solid #ececec;
}

.production__title-text {
  width: 150px;
}

.production__description-block-video {
  order: 3;
  padding-bottom: 31px;

  border: 1px solid #ececec;
}

.production__title::before {
  content: "";

  width: 40px;
  height: 37px;

  background-image: url("../img/icon-video.svg");
  background-repeat: no-repeat;
}

.production__description {
  margin: 0;
  padding: 26px 33px 25px 33px;

  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

.production__video {
  position: relative;

  order: 2;
  margin: 0;
}

.production__video-play {
  position: absolute;
  top: 35px;
  left: 80px;

  cursor: pointer;
}

.production__video-play:focus,
.production__video-play:hover {
  transform: scale(1.2);
}

.production__video-play:active {
  transform: scale(0.8);
  opacity: 0.3;
}

.production__button {
  width: 188px;
  margin: auto;
  padding: 16px 0;
}

@media (min-width: 768px) {
  .production {
    display: flex;
    flex-direction: column;
    padding-bottom: 59px;

    background-color: #ffffff;
  }

  .production__title {
    justify-content: flex-start;
    order: 2;
    padding: 33px 20px 0 40px;

    font-weight: 700;
    font-size: 20px;
    line-height: 24px;

    border: 1px solid #ececec;
    border-bottom: none;
  }

  .production__video {
    order: 1;
    margin-top: 0;
  }

  .production__title-text {
    width: auto;
    margin-left: 25px;
  }

  .production__video-img {
    width: 668px;
    height: 457px;
    margin: 0 auto;
  }

  .production__description-block-video {
    order: 2;
    padding-bottom: 0;

    border: 1px solid #ececec;
    border-top: none;
  }

  .production__description {
    order: 3;
    width: 586px;
    margin: 0 auto;

    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
  }

  .production__button {
    order: 4;
    width: 580px;
    margin: 10px auto 43px;
    padding: 16px 0;
  }

  .production__video-play {
    position: absolute;
    top: 40%;
    left: 43%;

    cursor: pointer;
  }

  .production__video-play:focus,
  .production__video-play:hover {
    transform: scale(1.2);
  }

  .production__video-play:active {
    transform: scale(0.8);
    opacity: 0.3;
  }
}


@media (min-width: 1150px) {
  .production__video-play:focus,
  .production__video-play:hover {
    transform: scale(1.2);
  }

  .production__video-play:active {
    transform: scale(0.8);
    opacity: 0.3;
  }

  .production {
    position: relative;

    box-sizing: border-box;
    width: 100%;
    min-height: 455px;
    padding-right: 19px;
    padding-bottom: 0;
    padding-left: 691px;

    border: 1px solid #ececec;
    border-top: none;
    border-bottom: none;
    border-left: none;
  }

  .production__title {
    position: relative;

    width: 302px;
    padding-top: 92px;
    padding-left: 10px;

    border: none;
  }

  .production__video-img {
    width: 682px;
    height: 452px;
  }


  .production__description-block-video {
    display: flex;
    flex-direction: column;
    width: 332px;

    border: none;
  }

  .production__description {
    width: 260px;
    margin: 0;
    padding-top: 34px;
    padding-right: 0;
    padding-bottom: 36px;
    padding-left: 71px;
  }

  .production__button {
    width: 230px;
    margin: 9px 0 0 72px;
    padding: 16px 0;
  }

  .production__title::before {
    content: "";

    position: absolute;
    top: 39px;
    left: 71px;

    width: 40px;
    height: 37px;

    background-image: url("../img/icon-video.svg");
    background-repeat: no-repeat;
  }

  .production__title-text {
    width: 178px;
    margin-left: 58px;
  }

  .production__video {
    position: absolute;
    top: 0;
    left: 0;
  }
}
