.production {
  display: flex;
  flex-direction: column;
  padding: 0 30px;

  background-color: #ffffff;
}

.production__title {
  display: flex;
  /* width: 150px; */
  display: flex;
  justify-content: space-around;
  justify-content: center;
  align-items: center;
  order: 1;
  margin: 0;

  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
}

.production__title-text {
  width: 150px;
}

.production__description-block-video {
  order: 3;
}

.production__title::before {
  content: "";

  top: 30px;
  left: 30px;

  width: 40px;
  height: 30px;

  background-image: url("../img/icon-video.svg");
  background-repeat: no-repeat;
}

.production__description {
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

.production__video {
  order: 2;
  margin: 0;
}

@media (min-width: 768px) {
  .production {
    display: flex;
    flex-direction: column;
    padding: 0 50px;

    background-color: #ffffff;
  }

  .production__title {
    justify-content: flex-start;
    order: 2;
    margin-bottom: 27px;
    padding-left: 44px;

    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
  }

  .production__video {
    order: 1;
    margin-top: 0;
  }

  .production__title-text {
    width: auto;
    margin-left: 25px;
  }

  .production__video-img {
    width: 668px;
    height: 457px;
    margin: 0 auto;
  }

  .production__description-block-video {
    order: 2;

    border: 1px solid #ececec;
  }

  .production__description {
    order: 3;
    width: 586px;
    margin: 0 auto;

    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
  }

  .production__button {
    order: 4;
    width: 553px;
    margin: 35px auto 107px;
  }
}

@media (min-width: 1150px) {
  .production {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
  }

  .production__video {
    order: -1;
    margin: 0;
  }

  .production__title {
    flex-wrap: wrap;
    height: 83px;
    margin-top: 20px;
  }

  .production__description {
    width: 295px;
    padding: 0;
  }

  .production__description-block-video {
    order: 3;
    margin-top: -322px;
    margin-right: 12px;
    margin-left: auto;

    border: 1px solid #ececec;
  }

  .production__title-text {
    margin: 0;
  }

  .production__button {
    width: 230px;
    margin: 35px auto 49px;
  }
}
