.review {
  margin-bottom: 28px;
}

.review__autor-block {
  margin-bottom: 32px;
}

.review__text {
  margin: 0;

  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: #444444;
}

.review__autor {
  margin: 0;

  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}

.review__link {
  margin: 0;

  font-size: 17px;
  line-height: 30px;
  color: #444444;
}

.review__pagination {
  display: flex;
  margin-bottom: 36px;
}

.review__button {
  width: 130px;
  height: 53px;

  background-color: #ffffff;
  border: 1px solid #ececec;
}

.review__write {
  margin-bottom: 86px;

  font-size: 18px;
}


@media (min-width: 768px) {
  .review {
    order: 3;
  }

  .review__autor-block {
    order: 4;
    margin-bottom: 50px;
  }

  .review__text {
    margin-top: 40px;
    margin-bottom: 62px;

    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
  }

  .review__write {
    order: 2;
    width: 170px;
    margin-left: auto;
  }

  .review__button {
    border: none;
  }

  .review__pagination {
    order: 5;
    margin-left: auto;
  }
}
