.review {
  margin-bottom: 28px;
}

.review__autor-block {
  margin-bottom: 32px;
}

.review__text {
  margin: 0;

  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: #444444;
}

.review__autor {
  margin: 0;

  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}

.review__link {
  margin: 0;

  font-size: 17px;
  line-height: 30px;
  color: #444444;
}

.review__pagination {
  display: flex;
  margin-bottom: 36px;
}

.review__button {
  width: 130px;
  height: 53px;

  background-color: #ffffff;
  border: 1px solid #ececec;
  cursor: pointer;
}

.review__write {
  font-size: 18px;
}


@media (min-width: 768px) {
  .review {
    order: 3;
    margin-top: 44px;
    margin-bottom: 59px;
  }

  .review__autor {
    margin: 0;

    font-size: 18px;
  }

  .review__autor-block {
    order: 4;
    margin: 0;
  }

  .review__text {
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
  }

  .review__button {
    width: 130px;
    height: 57px;

    border: none;
  }

  .review__write {
    order: 2;
    width: 176px;
    margin: 0;
    padding: 17px 0;
  }


  .review__pagination {
    order: 5;
    width: 178px;
    margin: 0;
  }
}


@media (min-width: 1150px) {
  .review__text,
  .review__autor-block {
    padding-left: 175px;
  }

  .review__text {
    width: 770px;
    padding-top: 46px;
    padding-bottom: 39px;
  }

  .review {
    margin: 0;
  }

  .review__button:hover {
    opacity: 0.6;
  }

  .review__button:active {
    opacity: 0.3;
  }
}
