.review-group {
  position: relative;

  display: flex;
  flex-direction: column;
  margin-bottom: 31px;
  padding: 0 30px;
  padding-bottom: 54px;

  color: #000000;

  background: url("../img/bg-zigzag-line.svg") repeat-x 100% 100% white;
  background-size: 324px 16px;
}

.review-group__title {
  margin: 0;
  margin-bottom: 24px;

  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}

.review__text {
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
}


@media (min-width: 768px) {
  .review-group {
    position: relative;

    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 0;
    padding-top: 81px;
    padding-right: 50px;
    padding-bottom: 113px;
    padding-left: 50px;

    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 350px;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/review@2x.jpg");
      background-size: 350px auto;
    }
  }

  .review-group__title {
    order: 1;
    margin: -3px;

    font-weight: 700;
    font-size: 43px;
    line-height: 50px;
  }
}

@media (min-width: 1150px) {
  .review-group__title {
    padding-left: 175px;

    font-size: 53px;
    line-height: 57px;
  }

  .review-group {
    padding-right: 0;
    padding-bottom: 161px;
    padding-left: 0;
    // background: url("../img/review@1x.jpg") no-repeat 0 0;

    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 350px;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/review@2x.jpg");
      background-size: cover;
    }
  }
}
