.review-group {
  position: relative;

  display: flex;
  flex-direction: column;
  padding: 0 30px;

  color: #000000;
}

.review-group__title {
  margin: 0;
  margin-bottom: 24px;

  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}

.review__text {
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
}



@media (min-width: 768px) {
  .review-group {
    position: relative;

    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 100px;
    padding-right: 50px;
    padding-left: 50px;

    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-size: 350px;
  }

  .review-group__title {
    order: 1;

    font-weight: 700;
    font-size: 43px;
    line-height: 50px;
  }
}

@media (min-width: 1150px) {
  .review-group__title {
    padding-left: 175px;

    font-size: 43px;
    line-height: 50px;
  }

  .review-group {
    padding-right: 0;
    padding-left: 0;
  }

  .review__text,
  .review__autor-block {
    padding-left: 175px;
  }

  .review__text {
    width: 770px;
  }
}
