.social__list {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  min-width: 165px;
  margin: 0;
  margin-top: 21px;
  margin-bottom: 43px;
  padding: 0;

  list-style: none;
}


.social__item {
  margin-right: 40px;
}

.social__item:nth-child(3n) {
  margin-right: 0;
}
