.social__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  width: 160px;
  min-width: 165px;
  margin: 0;
  padding: 0;

  list-style: none;
}


.social__item {
  margin-right: 40px;
}

.social__item:nth-child(3n) {
  margin-right: 0;
}

@media (min-width: 768px) {
  .social__list {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 73px;
  }


  .social__link:hover .social__icon,
  .social__link:focus .social__icon {
    fill: #46c1ae;
  }

  .social__link:active .social__icon {
    fill: #bde3dd;
  }
}
