.week-product {
  display: flex;
  flex-direction: column;
  padding: 20px 30px 41px;

  outline: 1px solid;
}

.week-product__title {
  margin: 0;

  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
}

.week-product__image-wrapper {
  margin: 0;
  padding: 0;
}

.week-product__label {
  margin: 0;

  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: #63d1bb;
  text-transform: uppercase;
}

.week-product__description {
  margin: 0;

  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #444444;
}

.week-product__info {
  font-size: 15px;
  line-height: 20px;
  color: #444444;

  background-color: #ffffff;
}

.week-product__characteristics {
  border-bottom: 1px solid #ececec;
}

.week-product__price {
  align-self: center;
  margin: 0;

  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #444444;
}

@media (min-width: 768px) {
  .week-product {
    padding: 35px 50px 0;
  }

  .week-product__button {
    width: 288px;
    margin-bottom: 30px;
  }

  .week-product__title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
