body {
  margin: 0 auto;

  font-family: "Open Sans", "Arial", sans-serif;
}


a {
  text-decoration: none;
}

img {
  display: block;
}

.main-wrapper {
  overflow: hidden;
}

// @media (min-width: 320px) {
//   body {
//     // max-width: 320px;
//   }
// }

// @media (min-width: 768px) {
//   body {
//     // max-width: 768px;
//   }
// }

// @media (min-width: 1150px) {
//   body {
//     // max-width: 1150px;
//   }
// }
