@import "fonts";
@import "global";
@import "blocks/page-header";
@import "blocks/main-nav";
@import "blocks/page-main";
@import "blocks/page-footer";
@import "blocks/button";
@import "blocks/week-product";
@import "blocks/about";
@import "blocks/copyright";
@import "blocks/production";
@import "blocks/review-group";
@import "blocks/review";
@import "blocks/contact";
@import "blocks/social";
@import "blocks/modal-window";
@import "blocks/catalog";
@import "blocks/catalog-card";
@import "blocks/filter-form";
@import "blocks/header-block";
@import "blocks/visually-hidden";
@import "blocks/form-block";
@import "blocks/form-field";
@import "normalize.scss";
@import "blocks/center-wrapper.scss";
